{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block body %}


<div class="column is-4"></div>
<div class="column is-4 section">
    <div class="container is-widescreen">
        <div class="notification">
            <hr>
            <h1 class="title is-1 has-text-weight-bold has-text-dark has-text-centered">Login</h1>
            <div class="columns">
                <div class="column is-3"></div>
                <div class="column is-6">
                {% if user.is_authenticated %}
                    <p class="subtitle is-4 has-text-danger has-text-centered">Already Logged in!</p>
                    <p class="buttons">
                        <button class="button"><a href="{% url 'home' %}">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Home</span>
                        </a></button>
                        <button class="button"><a href="{% url 'logout' %}">
                            <span>Logout</span>
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a></button>
                    </p>
                {% else %}
                    {% if form.errors %}
                    <p class="has-text-weight-bold has-text-danger">Your username and password didn't match. Please try again.</p>
                    {% endif %}
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">{{ form.username|add_class:'input is-primary' }}</div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">{{ form.password|add_class:'input is-primary' }}</div>
                        </div>
                         <hr>
                        <div class="field has-text-centered">
                            <button type="submit" class="button is-primary is-outlined is-rounded">Login</button>
                        </div>
                        <hr>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}