{% extends 'body_base.html' %}

{% block title %}Uploads{% endblock %}

{% block page_title %}Uploads{% endblock %}

{% block inner_content %}
{% for detail in details %}
<div class="notification" onmouseout="this.style.background=''" onmouseover="this.style.background='white'">
    <a href="{% url 'app:upload_file' detail.id %}" style="text-decoration: none;" onmouseout="this.style.color=''" onmouseover="this.style.color='grey'">
        <h2 class="title">{{ detail.title }}</h2>
    </a>
    <br>
    <h3 class="subtitle is-5">{{ detail.text }}</h3>
</div>
{% endfor %}
{% endblock %}