{% extends 'base.html' %}

{% block title %}{{ detail.title }} | Upload{% endblock %}

{% block script %}
function check(){
    if(window.confirm('ファイルをアップロードします。')){
        return true;
    }else{
        return false;
    }
}
{% endblock %}

{% block content %}
<hr>
<h2>{{ detail.title }}</h2>
<p>{{ detail.text }}</p>

<form action="" method="POST" enctype="multipart/form-data" onSubmit="return check()">
    {% csrf_token %}
    <p>{{ form.file }}</p>
    <button type="submit">アップロード</button>
</form>

<hr>
<h3>履歴</h3>
{% for uploaded in uploaded_files %}
<p><a href='{{uploaded.file.url}}'>{{ uploaded.file }}</a> {{ uploaded.created }}</p>
{% endfor %}

{% endblock %}