{% extends 'body_base.html' %}

{% block title %}History{% endblock %}

{% block page_title %}History{% endblock %}

{% block outer_content %}
<br>
    {% if uploaded_files %}
    <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-10">
            <table class="table has-background-dark is-fullwidth">
                <thead>
                    <tr>
                        <th class="has-text-white">提出場所</th>
                        <th class="has-text-white">ファイル名</th>
                        <th class="has-text-white">提出日時</th>
                    </tr>
                </thead>
                <tbody>
                    {% for uploaded in uploaded_files %}
                    <tr>
                        <th class="has-text-white"><a href="{% url 'app:upload_file' uploaded.detail.id %}" onmouseout="this.style.color=''" onmouseover="this.style.color='skyblue'">{{ uploaded.detail.title }}</a></th>
                        <th class="has-text-white"><a href='{{uploaded.file.url}}' target="_blank" rel="noopener noreferrer" onmouseout="this.style.color=''" onmouseover="this.style.color='skyblue'">{{ uploaded.file }}</a></th>
                        <th class="has-text-white">{{ uploaded.created }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}