{% extends 'base.html' %}

{% block title %}Uploads{% endblock %}

{% block content %}

<section class="section">
    <div class="container is-fluid">
        <h1 class="title has-text-weight-bold">Uploads</h1>
        {% for detail in details %}
        <div class="notification">
            <a href="{% url 'app:upload_file' detail.id %}">
                <h2 class="title is-gapless">{{ detail.title }}</h2>
            </a>
            <h3 class="subtitle">{{ detail.text }}</h3>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}