{% extends 'body_base.html' %}

{% block title %}Uploads{% endblock %}

{% block page_title %}Uploads{% endblock %}

{% block inner_content %}
<div class="columns">
    <div class="column is-full">    
        <table class="table is-hoverable">
            <tbody>
                {% for detail in details %}
                <tr>
                    <td>
                        <span class="icon is-medium">
                            <i class="fab fa-2x fa-github"></i>
                        </span>
                    </td>
                    <td>
                        <p class="has-text-weight-bold">
                            <a href="{% url 'app:upload_file' detail.id %}">
                                {{ detail.title|truncatechars:100 }}
                            </a>
                        </p>
                        <p class="is-size-7">
                            {{ detail.text|truncatechars:200 }}
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}