{% extends 'body_base.html' %}

{% block title %}{{ detail.title }} | Upload{% endblock %}

{% block script %}
function check(){
    if(window.confirm('ファイルをアップロードします。')){
        return true;
    }else{
        return false;
    }
}
{% endblock %}

{% block page_title %}File Upload{% endblock %}

{% block inner_content %}
<div class="notification">
    <h2 class="title is-2">{{ detail.title }}</h2>
    <br>
    <h3 class="subtitle is-4">{{ detail.text }}</h3>
    
    {% if uploaded_files %}
    <div class="has-text-info">
        <span class="icon">
            <i class="fas fa-lg fa-check-circle"></i>
        </span>
        Already submitted
    </div>
    {% else %}
    <div class="has-text-danger">
        <span class="icon">
            <i class="fas fa-lg fa-exclamation-circle"></i>
        </span>
        Not yet
    </div>
    {% endif %}
</div>
<form action="" method="POST" enctype="multipart/form-data" onSubmit="return check()">
    {% csrf_token %}
    <p class="has-text-warning">{{ form.file }}</p>
    <br>
    <button type="submit" class="button is-light">Submit</button>
</form>
{% endblock %}
{% block outer_content %}
<hr>
<h3 class="subtitle has-text-white has-text-centered">提出履歴</h3>
{% if uploaded_files %}
<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column is-three-fifths">
        <table class="table has-background-dark is-fullwidth">
            <thead>
                <tr>
                    <th class="has-text-white">ファイル名</th>
                    <th class="has-text-white">提出日時</th>
                </tr>
            </thead>
            <tbody>
                {% for uploaded in uploaded_files %}
                <tr>
                    <th class="has-text-white"><a href='{{uploaded.file.url}}' target="_blank" rel="noopener noreferrer" onmouseout="this.style.color=''" onmouseover="this.style.color='skyblue'">{{ uploaded.file }}</a></th>
                    <th class="has-text-white">{{ uploaded.created }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}